<div class = "container">
  <h3>口コミ一覧</h3>
  <div class = "row">
    <div class = "col-md-6 mx-auto">
    <%= link_to '口コミを投稿する', public_spot_path(@spot), class: "right" %>
    <% @posts.each do |post| %>

      <div class=card>
        <p>内容 :<%= post.comment %></p>
        <p>評価 :<%= post.star %>点</p>
        <div id="star-rate<%= post.id %>"></div>
        <script>
          $('#star-rate<%= post.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            half      : false,
            readOnly: true,
            score: <%= post.star %>,
          });
        </script>
        投稿日 :<%= post.created_at.strftime('%Y/%m/%d') %><br />
        投稿書 :<%= post.user.nickname %>
      </div>
    <% end %>
      </div>
  </div>
</div>
