<div class = "container">
<h3 class = "mb-3">新規登録</h3>
<%  @user.children.build %>
<%= form_with model: @user, url: user_registration_path do |s| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="row mb-3">
    <div class = "col-md-2 offset-md-3">
      <%= s.label "ニックネーム" %><br />
    </div>
    <div class = "col">
      <%= s.text_field :nickname, required: true, autofocus: true, autocomplete: "nickname", class: "form-control col-md-5" %>
    </div>
  </div>
  <div class="row mb-3">
    <div class = "col-md-2 offset-md-3">
      お子様
    </div>
    <div class = "col">
      <div class="links">
        <%= link_to_add_association "子供を追加", s, :children %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class = "col-md-2 offset-md-3">
      <%= s.label "メールアドレス" %>
    </div>
    <div class = "col">
      <%= s.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control col-md-5" %>
    </div>
  </div>

  <div class = "row mb-3">
    <div class = "col-md-2 offset-md-3">
      <%= s.label "パスワード" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
    </div>
    <div class = "col">
      <%= s.password_field :password, autocomplete: "new-password", class: "form-control col-md-5" %>
    </div>
  </div>

  <div class = "row mb-3">
    <div class = "col-md-2 offset-md-3">
      <%= s.label "パスワード(確認用)" %><br />
    </div>
    <div class = "col">
      <%= s.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-md-5" %>
    </div>
  </div>
  <div class = "row">
    <div class = "offset-md-5">
      <%= s.submit "新規登録", class: "btn btn-primary pr-5 pl-5 mb-3" %>
    </div>
  </div>
<% end %>
</div>