<div class = "container">
<h2>新規登録</h2>
<%  @user.children.build %>
<%= form_with model: @user, url: user_registration_path do |s| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= s.label "ニックネーム" %><br>
    <%= s.text_field :nickname %>
  </div>
   <div class="users">
        <%= s.fields_for :children do |t| %>
            <%= render "child_fields", f: t %>
        <% end %>
        <div class="links">
            <%= link_to_add_association "子供を追加", s, :children %>
        </div>
    </div>


  <div class="field">
    <%= s.label "メールアドレス" %><br />
    <%= s.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= s.label "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= s.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= s.label "パスワード(確認用)" %><br />
    <%= s.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= s.submit "新規登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
</div