<%= form_with model: post, url: public_spot_posts_path(spot), local: true do |f| %>
  <div class="field">
  <div>
    <%= f.label "コメント"%>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>

    <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :post_star %>
    <% f.hidden_field :spot_id %>
  </div>

  <%= link_to "他のレビューを見る", public_spot_posts_path(spot) %>
<% end %>