<div class = "container">
  <h3 class = "mb-3"><%= @spot.name %>を編集する</h3>
  <div class = "row">
    <div class = "col-md-4 offset-md-2">
      <%= form_with model: @spot, url: spot_path(@spot), local: true do |f| %>
      <%= f.label "名前" %>
      <%= f.text_field :name, required: true, autofocus: true, autocomplete: "name", class: "form-control col-md-8" %><br />

      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>

      <%= f.label "画像" %>
      <%= f.file_field :image, accept: "image/*" %><br />

      <%= f.label "場所" %>
      <%= f.text_field :address, required: true, autofocus: true, autocomplete: "address", class: "form-control col" %><br />

      <%= f.submit "編集する" %>
      <% end %>
    </div>
    <div class = "col">
      <%= form_with url: map_request_path, method: :get, local: false do |f| %>
        <%= f.hidden_field :address %>
        <%= f.submit '地図表示で確認してみる', :onclick => "return copyAddress()" %>
        <span id="err-msg"></span>
      <% end %>
      <br />
      <div id='map'></div>
      <style>
      #map{
        height: 400px;
      }
      </style>
    </div>
  </div>

<script>
let mapInstance
function initMap(){
  mapInstance = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function copyAddress() {
  let target_address = $("#spot_address").val();
  $("#address").val(target_address);
  return true;
}
</script>
<script src ="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>