<%= form_tag({controller:"spots",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

<%= form_tag(public_spots_path, method: "get") do %>
<%= label_tag :name, "名前" %><%= text_field_tag :name, params[:name] %>
<%#= label_tag :name, "性別" %>
<%#= select_tag :tag_id, options_for_select(Spot.tag), include_blank: true %>
<%= submit_tag "検索" %>
<% end %>

<% @spots.each do |spot| %>
<%= spot.name %>
<% end %>
