<div class = "container">
  <h3 class = "mb-3"><%= @spot.name %></h3>
  <div class = "text-right">
  <% if @spot.user == current_user && @spot.user != User.guest %>
  <%= link_to "編集", edit_spot_path(@spot), class: "btn btn-primary" %>
  <%= link_to "削除", spot_path(@spot), method: :delete, "data-confirm" => "投稿を削除しますか？", class: "btn btn-danger" %>
  <% end %>
  </div>
  <div class = "row ">
    <div class = "col-md-3 offset-md-2 pt-5">
      <div class = "text-right">
      <% if @spot.image.attached? %>
        <%= image_tag @spot.image, size: "200x200" %>
      <% else %>
        <%= image_tag asset_path('no_image.jpg'),:alt => '画像', size: "200x200" %>
      <% end %><br />
      <% if current_user != nil %>
        <% if current_user != User.guest %>
          <% if @spot.favorited_by?(current_user) %>
            <%= link_to spot_favorites_path(@spot), method: :delete do %>
             ♥<%= @spot.favorites.count %> いいね<br />
            <% end %>
          <% else %>
            <%= link_to spot_favorites_path(@spot), method: :post do %>
            ♡<%= @spot.favorites.count %> いいね<br />
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if @spot.user.is_delete == false %>
        <%= @spot.user.nickname %>さん<br />
        <% @spot.user.children.each do |child| %>
          <%= child.age %>歳
          <%= child.sex_i18n %><br />
        <% end %>
      <% else %>
        退会済ユーザー
      <% end %>
      </div>
    </div>
    <div class = "col-md-2 mt-5">
      タグ<br />
      <% @spot.tags.each do |tag| %>
        <span>#<%= tag.name %></span><br />
      <% end %>
    </div>
    <div class = "col-md-4">
      <h5><%= @spot.address %></h5>
      <% if @latlng.empty? %>
        地図では取得できませんでした。
      <% end %>
    <div id='map'></div>
    <style>
    #map{
      height: 300px;
    }
    </style>
    </div>
  </div>
  <div class = "row">
    <div class = "offset-md-3">
      <h5>口コミをかく</h5>
      <% if current_user != nil %>
        <% if current_user == User.guest %>
          <div class = "bg-white">会員登録して口コミを書こう!</div>
        <% else %>
          <%= render 'public/spots/form', post: @post, spot: @spot %>
        <% end %>
      <% elsif current_user == nil %>
        会員登録して口コミを書こう!
      <% end %>
    </div>
  </div>
</div>

    <script>
    let mapInstanceshow
    function initMap(){
      mapInstanceshow = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
      zoom: 8
      });

    let myMarker = new google.maps.Marker({
    position: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
    map: mapInstanceshow
    });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>

