<div class = "container">
  <h3>ユーザー一覧</h3>
  <div class = "row">
    <div class = "col-8 mx-auto">
      <table class = "table">
        <thead class = "table-secondary">
          <tr>
            <th class = "col-md-1">ID</th>
            <th class = "col-md-2">ニックネーム</th>
            <th class = "col-md-2">メールアドレス</th>
            <th class = "col-md-2">ステータス</th>
            <th class = "col-md-2"></th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_delete %>
              退会
              <% else %>
              有効
              <% end %>
            </td>
            <td>
              <% if user != User.guest %>
                <%= link_to "ユーザー削除", withdraw_admin_user_path(user), method: :patch, "data-confirm" => "本当に退会させますか？" %>
              <% end  %>
              </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%= paginate @users %>
</div>
