<div class = "container">
  <h3 class = "mb-3">ログイン</h3>

<%= form_with model: @user, url: user_session_path do |f| %>
  <div class= "row mb-3">
      <div class = "col-md-2 offset-md-3">
        <%= f.label "メールアドレス" %>
      </div>
      <div class = "col">
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control col-md-5" %>
      </div>
    </div>
    <div class = "row mb-3">
      <div class = "col-md-2 offset-md-3">
        <%= f.label "パスワード" %>
      </div>
      <div class = "col">
      <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control col-md-5" %>
      </div>
    </div>
    <div class = "row">
      <div class = "offset-md-5">
        <%= f.submit "ログイン", class: "btn btn-primary pr-5 pl-5 mb-3" %>
      </div>
    </div>
<% end %>
<div class = "row">
  <div class = "offset-md-3 mb-3">会員登録がお済みでない方</div>
</div>
<div class = "row">
  <div class = "offset-md-3">
    <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-success pr-5 pl-5 ml-5" %>
  </div>
  <div class = "col-md-3 offset-md-1">
<%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-success pr-4 pl-4" %>
</div>
</div>
</div>
