<div class="nested-fields">
     性別<br />
    <%= f.radio_button :sex, Child.sexes.key(0), class: "ml-5" %>
    <%= f.label :sex, Child.sexes_i18n[:boy], class: "h5" %><br />

    <%= f.radio_button :sex, Child.sexes.key(1), class: "ml-5" %>
    <%= f.label :sex, Child.sexes_i18n[:girl], class: "h5" %><br />

    <div class="form-group col-md-4">
  <%= f.label "生年月日" %><br>
  <%= f.number_field :birth_date, type: "date" %>
</div>
    <%= link_to_remove_association "追加を取り消す", f %>


</div>