<div class = "container">
  <div class = "row">
    <div class = "col">
      <div class = "row mb-3">
        <div class = "col-md-4">ニックネーム</div>
        <div class = "col-md-8"><%= @user.nickname %></div>
      </div>
      <div class = "row mb-3">
        <div class = "col-md-4">メールアドレス</div>
        <div class = "col-md-8"><%= @user.email %></div>
      </div>
      <% @user.children.each_with_index do |child, index| %>
        <div class = "row">
          <div class = "offset-md-1">
            <%= index + 1 %>人目のお子様
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-2 pl-4 offset-md-1">性別</div>
          <div class = "col-md-4"><%= child.sex_i18n %></div><br />
        </div>
        <div class = "row mb-3">
          <div class = "col-md-2 pl-4 offset-md-1">年齢</div>
          <div class = "col-md-4"><%= child.age %>歳</div><br />
        </div>
      <% end %>
      <%= link_to "編集", edit_user_path(current_user), class: "btn btn-success ml-5" %>
      <%= link_to "投稿", new_spot_path, class: "btn btn-primary" %>
    </div>
    <div class = "col">
      <% if @user != User.guest %>
        <h5><%= @user.nickname %>さんの投稿</h5>
        <% @spots.each do |spot| %>
          <div class = "mb-3">
          <%= link_to spot_path(spot) do %>
            <div class = "card mb-2 col-md-8">
              <%= spot.created_at.strftime('%Y/%m/%d') %><br/>
              名前:<%= spot.name %><br />
              場所:<%= spot.address %><br />
            </div>
          <% end %>
           </div>
        <% end %>
        <%= paginate @spots %>
      <% end %>
    </div>
  </div>
</div>