<div class = "container">
  <div class = "row mb-3">
    <div class = "col-md-2">ニックネーム</div>
    <div class = "col-md-4"><%= @user.nickname %></div>
  </div>
  <div class = "row mb-3">
    <div class = "col-md-2">メールアドレス</div>
    <div class = "col-md-4"><%= @user.email %></div>
  </div>
  <% @user.children.each do |child| %>
    <div class = "row">
      <div class = "offset-md-1">
        お子様
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-1 pl-4 offset-md-1">性別</div>
      <div class = "col-md-4"><%= child.sex_i18n %></div><br />
    </div>
    <div class = "row mb-3">
      <div class = "col-md-1 pl-4 offset-md-1">年齢</div>
      <div class = "col-md-4"><%= child.age %>歳</div><br />
    </div>
  <% end %>

  <%= link_to "編集", edit_public_user_path(current_user), class: "btn btn-success ml-5" %>
  <%= link_to "投稿する", new_public_spot_path, class: "btn btn-primary" %>
</div>